* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1, p {
    margin: 0 auto;
}

.background-gradient {
    background: #f2c14e;
    background: -webkit-linear-gradient(top left, #f78154, #f2c14e);
    background: -o-linear-gradient(bottom right, #f78154, #f2c14e);
    background: -moz-linear-gradient(bottom right, #f78154, #f2c14e);
    background: linear-gradient(bottom right, #f78154, #f2c14e);
}

#header {
    padding: 50px 0;
}

#header h1 {
    font-size: 4rem;
}

#header p {
    padding: 20px 0 0;
}

/*FOOTER*/

#footer {
    color: #ffffff;
    padding: 20px 0 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-icon {
    color: #ffffff;
    margin: 10px 10px;
    font-size: 2.2rem;
}

.media {
    display: inline-block;
    transition: all .5s ease-in-out;
}

.media:hover {
    cursor: pointer;
    color: #546e7a;
}

.copyright {
    font-size: 1.3rem;
}